h1, h2, h3 {
  text-align: left;
}

body {
  display: grid;
  grid-template-areas:
    "nav nav"
    "aside header"
    "aside article";
  grid-template-columns: 1fr 4fr;
  gap: 3px;
  background-color: lightgrey;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  grid-area: nav;
  text-align: center;
}

aside {
  grid-area: aside;
  text-align: left;
  background-color: grey;
}

header {
  grid-area: header;
  text-align: center;
}

article {
  grid-area: article;
  text-align: left;
  background-color: lightcyan;
}

.BirdAsideUL {
  cursor:pointer;
}

#latinNameHeader {
  font-style: italic;
}