h1, h2, h3 {
  text-align: start;
  padding: 5px;
  margin: 0px;

}

body {
  /* box-sizing: border-box; */
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "aside nav"
    "aside header"
    "aside article"
    "aside article";
  grid-template-columns: 1fr 4fr;
  gap: 3px;
  background-color: lightgrey;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  grid-area: nav;
  text-align: center;
}

aside {
  grid-area: aside;
  height: 98vh;
  overflow: auto;
  text-align: left;
  background-color: grey;
}

header {
  grid-area: header;
  text-align: center;
  height: fit-content;
}

article {
  grid-area: article;
  text-align: left;
  background-color: lightcyan;
}

.BirdAsideUL {
  cursor:pointer;
  padding: 2px;
  list-style-type: none;
}

#latinNameHeader {
  font-style: italic;
}

article td {
  min-width: 200px;
  padding: 5px;
  text-align: left;
  vertical-align: top;
}